a {
    display: inline-block;
    padding: 8px 4px;
    background-color: #f8f9fa; /* Light green color */
    color: black; /* Text color: white */
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    min-width: 10vw;
  }
  .group-list-header{
   font-weight: 600;
   padding: 16px;
   display: flex;
   justify-content: center;
 
  }
  .group-list-wrapper{
    display: flex;
    flex-direction: column;
    padding:0px 12px;
    height: 80vh;
    overflow-y: auto
  }

.list-item {
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .list-item:last-child {
    border-bottom: none; /* Remove border for the last item to avoid extra line */
  }