.page-container {
  display: flex;
  height: 100vh;
}

.groups-section {
  width: 25%;
  background-color: lightgray;
}

.chat-section {
  flex: 1;
  border-left: 1px solid gray;
}
.create-group{
  position: absolute;
  bottom: 5vh;
  left:6.25%
}