.page-container {
  display: flex;
  height: 100vh;
}

.groups-section {
  width: 20%;
}

.chat-section {
  flex: 1;
  border-left: 1px solid gray;
  background-color: #fafafa;
  height:100vh;
 
}
.create-group{
  position: absolute;
  bottom: 5vh;
  left:2vw;
  display:flex;
  flex-wrap: wrap;
}